body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#premieres {
    padding: 20px;
    background: linear-gradient(to right, #f5f5f5, #e0e0e0);
    border-radius: 10px;
    margin: 0;
    max-width: 100vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#premieres h2 {
    text-align: center;
    color: #d83f5e;
    margin-bottom: 20px;
    font-size: 2.5em; 
}

.premiere-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.premiere-item {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 320px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.premiere-item a {
    display: block;
}

.premiere-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: opacity 0.3s ease;
}

.premiere-item img:hover {
    opacity: 0.8;
}

.premiere-item h3 {
    margin: 10px 0;
    font-size: 1.5em; 
    color: #d83f5e;
}

.premiere-item p {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
}

.premiere-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .premiere-item {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    #premieres h2 {
        font-size: 2em;
    }

    .premiere-item h3 {
        font-size: 1.2em;
    }

    .premiere-item p {
        font-size: 0.9em;
    }
}
